services:
  stockscope_api:
    build: .
    container_name: stockscope_api
    ports:
      - "8000:8000"
    env_file:
      - ./.env
    depends_on:
      - db
      - redis
    volumes:
      - .:/app
    working_dir: /app
    command: ["gunicorn", "stock_scope.wsgi:application", "--bind", "0.0.0.0:8000", "--workers", "2"]

  db:
    image: postgres:16-alpine
    env_file:
      - ./.env
    volumes:
      - pg:/var/lib/postgresql/data

    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER}"]
      interval: 5s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"

volumes:
  pg: 